/* 
Developed by Hero Expert 
Telegram channel: @HeroExpert_ir
*/

body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}

.login-box {
    margin-top: 150px;
    height: auto;
    background: #1A2226;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#8356ed, #6025e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=email] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #713dea;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #713dea;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-group:nth-child(2) {
    margin-bottom: 20px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #713dea;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

.form-group {
    &:focus-within {
        .email-label {
            color: #6025e8;
            font-size: 13px;
        }

        .password-label {
            color: #6025e8;
            font-size: 13px;
        }
    }
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 200ms ease;
}

.btn-outline-primary {
    border-color: #713dea;
    color: #713dea;
    border-radius: .3rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: .5rem 1.5rem !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    /* transition: all 200ms ease; */
}

.btn-outline-primary:hover {
    background-color: #713dea;
    right: 0px;
    cursor: pointer;
    border-color: #713dea;
    box-shadow: 0 0 8px 3px #8356ed;
}

.btn-outline-primary:active {
    border: 0;
}

.login-btm {
    margin: 0 0 20px;
    padding: 0;
    font-size: .8vw !important;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    color: #c83000;
    visibility: visible;
    opacity: 1;
}

.loginbttm {
    padding: 0px;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    border: none;
    outline: none;
}

@media screen and (max-width: 576px) {
    .login-btm {
        font-size: 1.9vw!important;
    }
}

/* 
Developed by Hero Expert 
Telegram channel: @HeroExpert_ir
*/