/* 
Developed by Hero Expert 
Telegram channel: @HeroExpert_ir
*/

* {
    font-family: 'Iranian Sans', sans-serif;
    direction: rtl;
}

body {
    background-color: #222D32;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: geometricPrecision;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

.header-title {
    color: white;
    margin: 1rem 0 2.5rem;
    direction: ltr !important;
}

.table-container {
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    border-radius: 1rem !important;
    margin-bottom: 2rem;
}

.table-header-bg {
    background-color: #6025e8 !important;
}

tr {
    border-bottom: 1px solid #ccc;
}

tr:last-of-type {
    border-bottom: none;
    outline: none;
}

tbody tr:nth-child(2n) {
    background-color: #cab6f7;
}

tbody tr:nth-child(2n - 1) {
    background-color: #dccffa;
}

tbody tr:hover {
    cursor: pointer;
    background-color: #b89bf5;
}

thead th {
    padding: .8rem 0;
    color: #fff;
    font-size: 1vw;
}

tbody td,
tbody th {
    padding: .8rem 0;
    font-size: 1vw;
}

.phone-number {
    direction: ltr !important;
}

.view-btn {
    background-color: #713dea;
    color: #fff;
    border-radius: 1rem;
    padding: .5vh .5vw;
    font-size: 1vw;
    text-decoration: none;
    font-size: 1vw;
}

.page-item {
    border-radius: 0 !important;
}

.page-link {
    color: #4e0de5;
    transition: all 200ms ease;
    font-size: 1vw;
    /* border-radius: 0.5rem !important; */
}

.page-link:hover {
    cursor: pointer;
    background-color: #a786f2;
    color: #fff;
}

.pagination {
    position: relative !important;
}

.pagination .page-link:first-of-type {
    border-radius: 0rem 0.5rem 0.5rem 0rem !important;
}

.pagination .page-link:last-of-type {
    border-radius: 0.5rem 0rem 0rem 0.5rem !important;
}

.message {
    margin: 50px auto;
    width: 50%;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message div {
    width: 100%;
}

.close {
    text-align: center;
    left: 50%;
    margin: 13px auto;
    width: 20%;
    right: 10px;
}

.HeroExpert {
    display: inline;
    margin: 0 .4rem;
    text-decoration: none;
    color: #6025e8;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 100px;
}

.HeroExpert span {
    position: relative;
    display: inline-block;
    transition: all 300ms ease;
    -webkit-animation: Wave 2.6s ease infinite;
    animation: Wave 3.6s ease infinite;
    transform: translateZ(0);
    transform-origin: 50% 50%;
    filter: blur(0px);
    font-size: 1.2vw;
}

.HeroExpert span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.HeroExpert span:nth-child(2) {
    -webkit-animation-delay: 0.09s;
    animation-delay: 0.09s;
}

.HeroExpert span:nth-child(3) {
    -webkit-animation-delay: 0.18s;
    animation-delay: 0.18s;
}

.HeroExpert span:nth-child(4) {
    -webkit-animation-delay: 0.36s;
    animation-delay: 0.36s;
}

.HeroExpert span:nth-child(5) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.HeroExpert span:nth-child(6) {
    -webkit-animation-delay: 0.54s;
    animation-delay: 0.54s;
}

.HeroExpert span:nth-child(7) {
    -webkit-animation-delay: 0.63s;
    animation-delay: 0.63s;
}

.HeroExpert span:nth-child(8) {
    -webkit-animation-delay: 0.72s;
    animation-delay: 0.72s;
}

.HeroExpert span:nth-child(9) {
    -webkit-animation-delay: 0.81s;
    animation-delay: 0.81s;
}

.HeroExpert span:nth-child(10) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.HeroExpert span:nth-child(11) {
    -webkit-animation-delay: 0.99s;
    animation-delay: 0.99s;
}

.HeroExpert span:nth-child(12) {
    -webkit-animation-delay: 1.08s;
    animation-delay: 1.08s;
}

.HeroExpert span:nth-child(13) {
    -webkit-animation-delay: 1.17s;
    animation-delay: 1.17s;
}

.HeroExpert span:nth-child(14) {
    -webkit-animation-delay: 1.26s;
    animation-delay: 1.26s;
}

.HeroExpert span:nth-child(15) {
    -webkit-animation-delay: 1.35s;
    animation-delay: 1.35s;
}

.HeroExpert span:nth-child(16) {
    -webkit-animation-delay: 1.44s;
    animation-delay: 1.44s;
}

.HeroExpert span:nth-child(17) {
    -webkit-animation-delay: 1.53s;
    animation-delay: 1.53s;
}

.HeroExpert span:nth-child(18) {
    -webkit-animation-delay: 1.62s;
    animation-delay: 1.62s;
}

.HeroExpert span:nth-child(19) {
    -webkit-animation-delay: 1.71s;
    animation-delay: 1.71s;
}

.HeroExpert span:nth-child(20) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.HeroExpert span:nth-child(21) {
    -webkit-animation-delay: 1.89s;
    animation-delay: 1.89s;
}

.HeroExpert span:nth-child(22) {
    -webkit-animation-delay: 1.98s;
    animation-delay: 1.98s;
}

.HeroExpert span:nth-child(23) {
    -webkit-animation-delay: 2.07s;
    animation-delay: 2.07s;
}

.HeroExpert span:nth-child(24) {
    -webkit-animation-delay: 2.16s;
    animation-delay: 2.16s;
}

.HeroExpert span:nth-child(25) {
    -webkit-animation-delay: 2.25s;
    animation-delay: 2.25s;
}

.HeroExpert span:nth-child(26) {
    -webkit-animation-delay: 2.34s;
    animation-delay: 2.34s;
}

.HeroExpert span:nth-child(27) {
    -webkit-animation-delay: 2.43s;
    animation-delay: 2.43s;
}

.HeroExpert span:nth-child(28) {
    -webkit-animation-delay: 2.52s;
    animation-delay: 2.52s;
}

.HeroExpert span:nth-child(29) {
    -webkit-animation-delay: 2.61s;
    animation-delay: 2.61s;
}

.HeroExpert span:nth-child(30) {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
}

@-webkit-keyframes Wave {
    0% {
        transform: translateY(0);
        color: #6025e8;
        text-shadow: 0 0 0 rgba(70, 175, 200, 0);
    }

    13% {
        transform: translateZ(2px);
        color: #fff;
    }

    16% {
        text-shadow: 0 0 3px #b89bf5;
    }

    26% {
        transform: translateZ(0);
        color: #8356ed;
        opacity: 1;
    }

    36% {
        transform: translateZ(0);
    }

    100% {
        transform: translateZ(0);
        opacity: .8;
    }
}

@keyframes Wave {
    0% {
        transform: translateY(0);
        text-shadow: 0 0 0 rgba(70, 175, 200, 0);
        color: #6025e8;
    }

    13% {
        transform: translateZ(2px);
        color: #fff;
    }

    16% {
        text-shadow: 0 0 3px #b89bf5;
    }

    26% {
        transform: translateZ(0);
        color: #713dea;
        opacity: 1;
    }

    36% {
        transform: translateZ(0);
    }

    100% {
        transform: translateZ(0);
        opacity: .8;
    }
}

@media screen and (max-width: 768px) {

    th,
    td,
    .status,
    .view-btn,
    .page-link {
        font-size: 1.5vw !important;
    }
}

@media screen and (max-width: 576px) {

    th,
    td,
    .status,
    .view-btn,
    .page-link {
        font-size: 2vw !important;
    }
}

/* 
Developed by Hero Expert 
Telegram channel: @HeroExpert_ir
*/